<form action="" method="get" role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" placeholder="What is your name?" name="name" value="{{name}}">
  </div>
  <input type="submit" class="btn btn-primary" value="Run">
  <input type="submit" class="btn btn-default" name="pdf" value="Download to PDF">
</form>