<div id="jasper_report_container">
  <div class="row">
  <div class="col-md-6 col-md-offset-4">
      <ul class="pagination">
        <li class="prev disabled"><a href="javascript:;" class="jasper_report_prev">&larr; Previous Page</a></li>
        <li class="next disabled"><a href="javascript:;" class="jasper_report_next">Next Page &rarr;</a></li>
        <li><a href="javascript:;" class="jasper_report_disable_pagination" class="btn btn-small">Show All</a></li>
      </ul>
    </div>
  </div>
  <div id="jasper_report">
    {{{reportHtml}}}
  </div>
</div>